/*
* Style within this document
* 
* Global Setting
* Header
* Header - Mid Logo
*  - Header Logo
*  - Header Navbar
*  - Navbar float
*  - Header Lang
* Content
*  - Grid Isotope
*  - Review Carousel
*  - gallery Carousel
* Flexslider
*  - Header - Floatbox
*/

/*: Global Setting */

ol, ul {
    list-style: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}
q, blockquote {
    quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}
a img {
    border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block
}
a img {
    filter: alpha(opacity=100);
    opacity: 1;
    transition: opacity .5s
}
a:hover img {
    filter: alpha(opacity=80);
    opacity: .8
}
a:hover, a:focus{
    color: #93002C;
}
.block {
    display: block;
    position: relative;
}
.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
    width: 100%;
}
.mobile-touch-overflow {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    overflow-scrolling: touch
}
.mobile-touch-overflow, .mobile-touch-overflow * {
    -webkit-transform: rotateY(0)
}
h1 {
    margin: 0 0 0 0;
    margin-top: 10px;
    color: #000;
    font-weight: 300;
    font-size: 1.6em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em;
    letter-spacing: 0.05em;
}
h2 {
    margin: 0 0 10px 0;
    color: #000;
    font-weight: 300;
    font-size: 1.4em;
    font-family: "Dosis", sans-serif;
    line-height: 1.2em;
    letter-spacing: 0.05em;
}
h3 {
    margin: 0 0 15px 0;
    font-family: "Dosis", sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.05em;
}
h5 {
    margin: 0 0 0 0;
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: 300;
    color: #000;
    letter-spacing: 0.05em;
}
p, .row li {
    font-family: "Dosis", sans-serif;
    font-size: 1em;
    line-height: 1.6em;
    font-weight: 300;
    color: #6f6f6f;
    letter-spacing: 0.05em;
}
.additional p {
    color: #999999;
}
p strong, .row li strong {
    font-weight: 400;
    color: #ee8a1d
}
p a, .row li a {
    color: #000;
    text-decoration: none;
    transition: color 0.3;
    letter-spacing: 0.11em;
}
.subheading {
    margin-top: 0;
    color: #888;
    line-height: 1.4em;
}
html {
    overflow-x: hidden
}
html, html a {
    -webkit-font-smoothing: antialiased !important;
}
a {
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    color: #5B595C;
}
a:hover {
    text-decoration: none;
}
.form-control::-moz-placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 500;
}
.form-control:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 500;
}
.form-control::-webkit-input-placeholder {
    color: #BDBDBD;
    font-weight: 500;
}
.bg-cover {
    padding: 20px 0 30px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
    display: block;
    background-image: url(../img/general-cover.jpg);
    min-height: 100px;
}
.btn:hover, .btn:focus, .btn:active, .btn.active {
    background-color: #93002C;
    border-color: #93002C;
}
.form-horizontal .control-label {
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    text-align: left;
    font-size: 1.1em;
    color: #000;
}
.form-horizontal .checkbox-custom {
    display: block;
    color: #000;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
    font-size: 1.1em;
}
a.term-clause {
    color: #2ECB70;
}
body {
    width: 100%;
    font-size: 13px;
    overflow-x: hidden;
    background-color: #fff;
    font-family: 'Titillium Web', sans-serif;
}
.col-heading {
    color: #000;
    position: relative;
    display: block;
}
.col-heading h1 {
    display: block;
    font-size: 1.6em;
    font-family: 'Titillium Web', sans-serif;
}
/* all */

*::-webkit-input-placeholder {
    color: #000;
}
*:-moz-placeholder {
    /* FF 4-18 */
    
    color: #000;
}
*::-moz-placeholder {
    /* FF 19+ */
    
    color: #000;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    
    color: #000;
}
/*Your Theme Style*/

.content-wrapper {
    overflow: hidden;
    position: relative;
}
#main-content {
    margin-top: 0;
    position: relative;
    display: block;
    background-color: #FFF;
}
.packages {
    margin-top: 20px;
}
.package-post-detail {
    background-color: #FFF;
    padding: 20px 0px 40px;
    color: #000;
    position: relative;
}
.package-post-detail h2 {
    color: #000;
    font-size: 1.5em;
    letter-spacing: 0.09em;
    font-family: 'Titillium Web', sans-serif;
}
.package-post-detail p {
    color: #000;
    font-family: "Lato", sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: normal;
}
.package-post-detail .read-more {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 0.11em;
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}
.package-post-detail .read-more a {
    color: #7D1030;
    width: 100%;
}
.package-post-detail .read-more a i {
    font-size: 2em;
}
.all-post {
    margin-top: 20px;
}
.package-detail {
    position: relative;
    display: block;
}
.package-detail h3 {
    font-family: 'Titillium Web', sans-serif;
}
.package-description p, .package-detail p {
    font-family: 'Lato', sans-serif;
    letter-spacing: normal;
}
.detail-box {
    position: relative;
    display: block;
}
.detail-box .carousel-nav .carousel-prev {
    border-radius: 0
}
.detail-box .carousel-nav .carousel-next {
    border-radius: 0
}
/*: Header*/
.header-wrapper{
    display: block;
    width: 80%;
    margin: 0 auto;
    position: relative;
}
.infoHeader{
    display: block;
    width: 100%;
    position: relative;
    height: 70px;
    background: rgba(255,255,255,1);
}
.infoHeader .leftCol{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 45px;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
}
.local-info-col p, .address-col p{
    font-family: 'Lato', sans-serif;
    color: #000;
}
.local-info-col p .bolder{
    font-weight: 400;
}
.infoHeader .rightCol{
    float: right;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 45px;
    font-size: 1.1em;
    font-family: 'Lato', sans-serif;
}

/*: Header - Mid Logo*/
.midLogo{
    display: inline-block;
    text-align: center;
    position: relative;
    width: 100%;
}
/* :: Header Logo*/
.logo-header .logo-wrapper {
    display: inline-block;
    position: relative;
    text-align: center;
    background: url(../img/logo-bg.png) repeat-x top left transparent;
    min-height: 219px;
    padding: 10px 20px;
    z-index: 9;
}

/*:: Header Navbar*/

#header .nav > li > a {
    padding: 35px 15px;
    text-transform: uppercase;
}
#header .navbar-collapse {
    height: auto;
}
#header .navbar {
    height: auto;
    min-height: auto;
}
.content-wrapper .navbar-default {
    background: rgba(255, 255, 255, 0.5);
    border: none;
}
.navbar-nav > li {
    display: inline-block;
}
.navbar-nav > li > a {
    font-size: 1.2em;
}
.navbar-default .navbar-text, .navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: 500;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #000;
}
.navbar-nav > li > a:hover {
    color: #7D1030 !important;
}
#header .navbar-nav > li.logo-header a.navbar-brand {
    padding: 15px;
    margin: 0;
}
.content-wrapper .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.content-wrapper .navbar .navbar-collapse {
    text-align: center;
}

/*:: Navbar float*/
.col-menu-left{
    position: absolute;
    display: block;
    top: -70px;
    left: 0;
    z-index: 9;
    bottom: 0;
    width: 250px;
}
.menu-block{
    position: absolute;
    top: 55%;
    left: 0;
    z-index: 10;
    width: auto;
    border: solid thin #fff;
    background: #7D1030;
    right: auto;
    bottom: auto;
    /*transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;*/
}
.menu-block a{
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    z-index: 30;
}
.menu-block .menu-text{
    display: inline-block;
    position: relative;
    color: #FFF;
    padding: 10px 20px;
    background: #7D1030;
    border-right: solid thin #fff;
    margin-right: 45px;
}
.menu-block .menu-text span{
    font-size: 1.2em;
    color: #FFF;
    text-transform: uppercase;
}
.menu-block .menu-toggle{
    color: #FFF;
    vertical-align: bottom;
}
.menu-toggle {
    z-index: 2;
    width: 16px;
    padding: 8px 0;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 10px;
}
.menu-toggle span {
  height: 3px;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background: #fff;
  white-space: nowrap;
  -webkit-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
}
.menu-toggle::before, .menu-toggle::after {
  left: 0;
  content: '';
  width: 16px;
  height: 3px;
  background: #fff;
  position: absolute;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transition: width 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
          transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
}
.menu-toggle::before {
  top: 0;
}
.menu-toggle::after {
  bottom: 0;
}
.menu-toggle.menu-open span {
  background: rgba(255, 255, 255, 0);
}
.menu-toggle.menu-open::before {
  top: 8px;
  left: -5px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-toggle.menu-open::after {
  bottom: 8px;
  left: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-toggle.menu-open::before, .menu-toggle.menu-open::after {
  width: 26px;
  background: #fff;
}
.menu-toggle.menu-open:hover span, .menu-toggle.menu-open:focus span, .menu-toggle.menu-open:active span,
.menu-toggle.menu-open.hovered span{
  background: rgba(255, 255, 255, 0);
}
.menu-toggle.menu-open:hover::before, .menu-toggle.menu-open:focus::before, .menu-toggle.menu-open:active::before,
.menu-toggle.menu-open.hovered:before {
  top: 5px;
  left: 0px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-toggle.menu-open:hover::after, .menu-toggle.menu-open:focus::after, .menu-toggle.menu-open:active::after,
.menu-toggle.menu-open.hovered:after {
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-toggle.menu-open:hover::before, .menu-toggle.menu-open:hover::after, .menu-toggle.menu-open:focus::before, .menu-toggle.menu-open:focus::after, .menu-toggle.menu-open:active::before, .menu-toggle.menu-open:active::after,
.menu-toggle.menu-open.hovered:before, .menu-toggle.menu-open.hovered:after {
  width: 18px;
}
.menu-toggle:hover span, .menu-toggle:focus span, .menu-toggle:active span,
.menu-toggle.hovered span {
  background: rgba(255, 255, 255, 0);
}
.menu-toggle:hover::before, .menu-toggle:focus::before, .menu-toggle:active::before,
.menu-toggle.hovered:before, .menu-toggle.hovered:before, .menu-toggle.hovered:before {
    top: 5px;
    left: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.menu-toggle:hover::after, .menu-toggle:focus::after, .menu-toggle:active::after,
.menu-toggle.hovered:after, .menu-toggle.hovered:after, .menu-toggle.hovered:after {
  left: 0px;
    bottom: 0;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu-toggle:hover::before, .menu-toggle:hover::after, .menu-toggle:focus::before, .menu-toggle:focus::after, .menu-toggle:active::before, .menu-toggle:active::after,
.menu-toggle.hovered:before, .menu-toggle.hovered:after{
  width: 18px;
}
nav.navigate{
    width: 250px;
    display: block;
    position: absolute;
    background-color: #7D1030;
    height: 100%;
    display: none;
}
nav.navigate.show{
    -webkit-transition: width 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
          transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
    display: block;
}
nav.navigate .navbar-bst{
    position: relative;
    display: block;
    margin-top: 30px;
}
.navbar-bst > .nav > li{
    position: relative;
    display: block;
    width: 100%;
}
.navbar-bst > .nav > li > a{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    text-transform: uppercase;
}

.col-booking-right{
    position: absolute;
    display: block;
    top: -70px;
    right: 0;
    z-index: 9;
    bottom: 0;
}
.col-booking-right #floatLang{
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    background: #FFF;
    width: 135px;
}
.col-booking-right #floatLang:after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #ffffff transparent transparent;
    line-height: 0px;
    _border-color: #000000 #ffffff #000000 #000000;
    _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    content: "";
    left: -20px;
    top: 50%;
}
#floatLang .bc {
    width: 150px;
    position: relative;
    top: 45%;
        
}
#floatLang .bc .linkReservation{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    writing-mode: lr-tb;
        width: 200px;
        height: 100px;
}
.linkReservation h2{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 400;
    line-height: 1em;
}
.linkReservation p{
    font-family: 'Lato', sans-serif;
    color: #000;
    font-size: 1.2em;
}
/*:: Header Lang*/

#langs {
    position: absolute;
    left: 40%;
    top: -100px;
    display: block;
}
#langs button.btn-default {
    background: transparent;
    border: none;
    border-top: 5px solid #780026 !important;
    border-radius: 0px;
    box-shadow: none;
    padding: 6px 5px;
}
#langs .btn:hover,#langs  .btn:focus,#langs  .btn:active,#langs  .btn.active{
    color: #000;
}
#langs .dropdown-menu {
    right: 0;
    left: auto;
}
/*info slider */

.bottom-info {
    position: relative;
    display: block;
    text-align: center;
    margin-top: -90px;
    padding: 20px 0;
    font-size: 18px;
    height: 90px;
}
.bottom-info p {
    color: #000;
}
.bottom-info .address-col, .bottom-info .local-info-col {
    display: inline-block;
}
.bottom-info .address-col p {
    border-right: 1px solid #000;
    padding: 0 10px;
    margin: 0 10px;
    line-height: 15px;
}
/*: Content*/

/*:: Grid Isotope*/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

.grid {
    position: relative;
    display: block;
}
.col-group .img-product, .col-group .caption-col {
    margin-bottom: 20px;
}
.caption-col h1{
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000;
}
.caption-col p{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: justify;
    letter-spacing: 0.01em;
}
.caption-col:after{
    border-bottom: 1px solid #750124;
    bottom: 0;
    left: 10px;
    content: "";
    height: 1px;
    width: 500px;
    position: absolute;
    z-index: 10;
}
.float-left-top .caption-col:after{
    top: -340px;
    left: 100px;
    border-left: 1px solid #750124;
    border-right: none;
    bottom: auto;
    height: 350px;
    width: 1px;
}
.float-right-bottom .caption-col:after{
    border-bottom: 1px solid #750124;
    left: auto;
    right: 10px;
}
/*:: Review Carousel*/
.wrap-review-carousel{
    position: relative;
    display: block;
}
#owl-reviews h1{
    font-family: 'Lato', sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000;
}
#owl-reviews p{
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    margin-bottom: 10px;
    text-align: justify;
    letter-spacing: 0.01em;
}
#owl-reviews .text-balloon:after {
    border-bottom: 1px solid #750124;
    bottom: 0;
    left: 10px;
    content: "";
    height: 1px;
    width: 500px;
    position: absolute;
    z-index: 10;
}
.wrap-review-carousel .carousel-nav .carousel-next {
    top: 35%;
    right: 100px;
    left: auto;
    background: #080808;
    -webkit-border-radius: 500px;
            border-radius: 500px;
    padding: 0 10px;
}
.wrap-review-carousel .carousel-nav .carousel-prev{
    top: 35%;
    right: 135px;
    left: auto;
    background: #080808;
    -webkit-border-radius: 500px;
            border-radius: 500px;
    padding: 0 10px;
}
/*:: gallery Carousel*/
#gallery-product{
    position: relative;
    display: block;
}
#gallery-product .carousel-nav {
    font-size: 2.5em;
}
#gallery-product .carousel-nav .carousel-next {
    background: none;
    right: 20px;
    left: auto;
    z-index: 20;
    top: 35%;
    opacity: 0.5;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
#gallery-product .carousel-nav .carousel-next:after{
    font-family: "arrow1";
    content: '\30';
    z-index: 20;
}
#gallery-product .carousel-nav .carousel-prev {
    background: none;
    left: 20px;
    right: auto;
    top: 45%;
    z-index: 20;
    top: 35%;
    opacity: 0.5;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
#gallery-product .carousel-nav .carousel-prev:after{
    font-family: "arrow1";
    content: '\31';
    z-index: 20;
}
#gallery-product .carousel-nav .carousel-prev:hover, #gallery-product .carousel-nav .carousel-next:hover{
    opacity: 1;
}
/* : Flexslider*/
#banner-homepage {
    position: relative;
    display: block;
    width: 80%;
    margin: 0 auto;
}
#banner-homepage .slider {
    position: relative;
    display: block;
}
.flexslider .slides > li:first-child {
    display: block;
}
.flexslider.loading .slides > li:first-child {
    opacity: 1 !important;
}
.flexslider {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.flex-direction-nav a {
    color: #fff !important;
    height: 40px;
    margin: -20px 0 0;
    top: 50%;
    width: 40px;
}
.flex-direction-nav a:before {
    content: "";
    font-family: FontAwesome;
    font-size: 34px;
}
.flex-direction-nav a.flex-next:before {
    content: "";
}
.flex-control-nav {
    bottom: auto;
    right: 20px;
    top: 40%;
    width: 20px;
    z-index: 20;
}
.flex-control-nav li {
    display: block;
    margin: 0 0 5px;
}
.flex-control-paging li a {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #7D1030;
    border-radius: 100%;
    box-shadow: none;
}
.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
    background: none repeat scroll 0 0 #7D1030;
    border-color: #7D1030;
}
.flexslider.loading {
    position: relative;
}
.flexslider.loading:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -webkit-animation: 1s linear 0s normal none infinite running spin;
    animation: 1s linear 0s normal none infinite running spin;
    border-color: #fff transparent #fff #fff;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    box-shadow: 0 0 25px 2px #eee;
    content: " ";
    height: 30px;
    margin: 0 0 0 -15px;
    position: absolute;
    right: 20px;
    top: 40%;
    width: 30px;
}
#slider-homepage .flexslider {
    padding: 0;
    border: none;
    box-shadow: none;
}
.carousel-control {
    z-index: 10;
}
#slider-homepage .carousel-caption {
    background: #FFF;
    text-shadow: none;
    bottom: 40px;
    text-align: left;
    padding: 0 50px;
}
#slider-homepage .carousel-caption:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 33px 15px;
    border-color: transparent transparent #ffffff transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #ffffff #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: -33px;
    left: 20px;
}
#slider-homepage .carousel-caption h1 {
    margin: 20px 0 10px;
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
}
#slider-homepage .carousel-caption p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 1.5px;
}
/*:: Content > product list*/
#product-list {
    padding: 80px 0;
}
/*:: Header - Floatbox*/
.bookyoustay {
    position: absolute;
    display: block;
    color: #fff;
    background: #7D1030;
    right: 130px;
    top: 0;
    bottom: 0;
    width: 350px;
    display: none;
}
.bookyoustay.show{
    display: block;
}
.bookyoustay #reservation{
    position: absolute;
    top: 30%;
    display: block;
    padding: 0 40px;
}
.bookyoustay .left-col {
    display: inline-block;
    border-right: 1px solid #fff;
    vertical-align: middle;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
    transition: width 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out, top 0.2s ease-in-out, bottom 0.2s ease-in-out, left 0.2s ease-in-out, right 0.2s ease-in-out;
    z-index: 10;
}
.bookyoustay .left-col span[class^="toggle-"] {
    padding: 10px;
    display: table-cell;
}
.bookyoustay .left-col span.toggle-close {
    display: none;
}
.bookyoustay .left-col a {
    color: #FFF;
}
.bookyoustay .left-col a:hover {
    color: #BF0028;
}
/*Open Form Reservation */
#floatbox .bookyoustay .form-col {
    display: none;
}
#floatbox .bookyoustay .form-col.open {
    display: inline-block;
    width: 70%;
}
#floatbox .bookyoustay .form-col #form-reservation {
    display: inline-block;
    position: relative;
    height: 30px;
}
.form-col #form-reservation .form-horizontal .form-group {
    margin: 10px 0 5px;
}
#form-reservation .form-group .btn-primary{
    background: #FD0050;
    color: #fff;
}
.bookyoustay .right-col .bc {
    padding: 0 10px;
}
#floatbox .bookyoustay h2, #floatbox .bookyoustay p {
    color: #FFF;
    text-shadow: none;
}
.bookyoustay .right-col .bc h2 {
    margin: 0;
    font-weight: 500;
}
.bookyoustay .right-col .bc p {
    margin: 0;
}
/*Gallery Product */

.gallery-product {
    background-color: #000;
    position: relative;
    display: block;
}
.mask {
    position: absolute;
    top: 0;
    left: 0px;
    background: #7D1030;
    display: none;
    z-index: 0;
}
.caption-block {
    display: none;
    position: relative;
    color: #fff;
    padding: 20px 30px;
    text-align: left;
}
.caption-block h1, .caption-block p {
    color: #FFF;
    position: relative;
}
.caption-block h1 {
    font-size: 1.6em;
    font-weight: bold;
    margin: 0;
}
.caption-block p {
    font-size: 1.2em;
}
.caption-block a {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    position: absolute;
    color: #fff;
    bottom: 10px;
    left: 0;
    right: 0;
}
.caption-block a span {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    font-size: 1.2em;
}
.mediaCaption {
    text-align: center;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.ie8 .mask {
    bacground: #000;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
/*- FILTER OPTIONS -*/

ul#filterOptions li {
    display: inline-block;
    position: relative;
}
ul#filterOptions li a {
    padding: 0 10px;
    border: none;
    background: transparent;
    color: #fff;
    line-height: normal;
    display: block;
    font-family: 'Lato', sans-serif;
    margin: 10px 0;
    border-right: 1px solid #fff;
}
ul#filterOptions li a:hover {
    background: transparent;
    color: #FFF;
}
ul#filterOptions li.active a {
    background: transparent;
    color: #E58D00;
}
ul#filterOptions li.active a:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 8px 0 8px;
    border-color: #7D1030 transparent transparent transparent;
    line-height: 0px;
    _border-color: #7D1030 #000000 #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    bottom: -15px;
    left: 35%;
}
/*- -*/
/*- OUR DATA HOLDER -*/

ul.ourHolder {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
ul.ourHolder li.item {
    float: left;
    text-align: center;
    overflow: hidden;
    margin-bottom: 15px;
}
/*Gallery Page*/

#gallery {
    position: relative;
    display: block;
    margin-top: 40px;
}
#gallery .grid-gallery {
    position: relative;
    display: block;
}
.grid-gallery #filterOptions {
    margin-bottom: 0;
}
/*Navigation Trough*/

#navtrough {
    position: absolute;
    display: block;
    top: 60px;
    bottom: auto;
    right: 0;
    left: 0;
}
.menu-rhomb-holder {
    margin: 150px 0;
    z-index: 20;
}
.menu-rhomb-holder .first-level, .menu-rhomb-holder .second-level, .menu-rhomb-holder .third-leve {
    display: block;
}
.rhomb {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    margin: -8px 14px;
    -webkit-border-radius: 5px;
    -webkit-border-top-left-radius: 1px;
    -moz-border-radius: 5px;
    -moz-border-radius-topleft: 1px;
    border-radius: 5px;
    border-top-left-radius: 1px;
}
.rhomb:hover {
    background: rgba(86, 214, 140, 1);
}
.rhomb_info {
    height: 50px;
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    width: 80px;
    display: table-cell;
    font-family: 'Titillium Web', sans-serif;
}
.in-menu {
    display: block;
    position: relative;
    background: url('../img/menu-center-list.png') no-repeat center top;
    width: 70px;
    height: 70px;
}
/*List Facilities*/

.list-facilites {
    position: relative;
    display: block;
    border-bottom: 1px solid #BFBFBF;
    padding-bottom: 20px;
}
.list-facilites .col-thumb .thumbnail {
    padding: 0;
    box-shadow: none;
}
.list-facilites .col-detail .title-facilities {
    display: block;
    position: relative;
}
.list-facilites .col-detail .title-facilities i {
    display: inline-block;
}
.list-facilites .col-detail .title-facilities h2 {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
}
.list-facilites .col-detail p {
    font-family: 'Lato', sans-serif;
}
.list-facilites .col-detail .hourtext {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4em;
}
.list-facilites .col-detail .hours-detail {
    color: #E8A15A;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}
/*Coloumn Rooms*/

.col-rooms {
    position: relative;
    display: block;
}
.col-rooms .left-col {
    position: relative;
    display: block;
}
.col-rooms .left-col p {
    font-size: 1.2em;
    font-weight: normal;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
    color: #71706E;
}
.col-rooms .left-col ul {
    list-style: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-size: 1.2em;
}
.col-rooms .left-col ul li {
    font-weight: normal;
    position: relative;
    display: block;
    padding-left: 20px;
    margin-left: 0px;
}
.col-rooms .left-col ul li:before {
    font-family: "fontello";
    position: absolute;
    content: '\e812';
    /* '' */
    
    display: block;
    left: 0;
    top: 0;
    font-weight: normal;
    color: #6f6f6f;
}
.col-rooms .right-col .list.list-room {
    background: url('../img/separator-col.png') repeat-x bottom left #fff;
    padding: 10px 0 20px;
}
.col-rooms .right-col .col-thumb .thumbnail {
    padding: 0;
    box-shadow: none;
}
.col-rooms .right-col .col-description h1 {
    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
    color: #71706E;
    margin-bottom: 20px;
}
.col-rooms .right-col .col-description p {
    font-size: 1.1em;
    display: block;
    font-weight: normal;
    position: relative;
}
.col-rooms .right-col .specification {
    position: relative;
    display: block;
}
.col-rooms .right-col .specification table.table {
    color: #9A9A9A;
}
.col-rooms .right-col .book-bar {
    display: block;
    position: relative;
}
.col-rooms .right-col .book-bar h3 {
    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
    color: #7B7B7B;
    font-weight: 600;
    margin: 10px 0;
}
.col-rooms .right-col .book-bar .booknow span {
    color: #770124;
    font-size: 1.4em;
    font-family: 'Titillium Web', sans-serif;
}
.col-rooms .right-col .book-bar .btn-book {
    float: right;
}
.specification table.table tr td {
    border: none;
    padding: 8px 0;
    color: #9A9A9A;
}
.specification table.table tr td:first-child {
    font-size: 1.1em;
    font-family: 'Titillium Web', sans-serif;
    color: #979797;
    font-weight: 700;
}
.list-room {
    position: relative;
    display: block;
}
.list-room .col-detail {
    position: relative;
    display: block;
}
.list-room .col-detail h2 {
    font-size: 1.3em;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
    color: #71706E;
}
.list-room .col-detail p {
    font-size: 1.1em;
    font-weight: 300;
}
.list-room .col-detail p.actionbtn {
    color: #707070;
    font-size: 1.1em;
    font-family: 'Titillium Web', sans-serif;
}
.list-room .col-detail .rates {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}
/*List Rooms*/

.room-block {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.room-block .block-wrapper {
    position: relative;
    display: block;
    border-bottom: thin solid #7E7E7E;
    float: left;
    margin-right: 50px;
}
.room-block .price {
    display: block;
    position: relative;
    padding: 0;
}
.room-block .price .text-price, .col-price h5 {
    display: block;
    position: relative;
    margin-bottom: 20px;
    font-family: 'VerdanaRegular', sans-serif;
    font-size: 1.2em;
    color: #60D390 !important;
}
.room-block .price .text-price, .room-block .price .txt-p {
    font-size: 1.3em;
    font-weight: 500;
    color: #000;
}
.right-content {
    position: relative;
}
.room-block .right-content h2 {
    font-size: 2em;
    color: #000;
    font-weight: 500;
}
.room-block .right-content p {
    color: #000;
    font-size: 1.2em;
    font-weight: 500;
}
.right-content .more-info {
    font-size: 1.2em;
    margin-top: 10px;
}
.right-content .more-info a.btn {
    color: #fff;
    font-size: 1.1em;
}
.rooms-top {
    display: block;
    position: relative;
    color: #FFF;
}
.rooms-top h1 {
    font-size: 2.9em;
    color: #FFF;
    margin-bottom: 20px;
}
.rooms-top h2 {
    color: #FFF;
    text-shadow: none;
    font-size: 1.5em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p {
    color: #FFF;
    font-size: 1.2em;
    font-weight: 500;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
}
.rooms-top p span.date {
    font-weight: 700;
}
.rooms-top p a {
    text-decoration: underline;
    color: #FFF;
}
.rooms-top p a:hover {
    color: #000;
}
/*Nano Scroller*/

.detail-view {
    height: 350px;
    width: 100%;
    margin: 50px 0;
}
#slidervertical_container .thumbpost {
    top: 0 !important;
}
.list-rooms.nano {
    width: 100%;
    height: 350px;
    overflow: hidden !important;
    margin: 50px 0;
}
.nano > .nano-pane {
    right: 10px;
    width: 15px;
}
.nano > .nano-pane > .nano-slider {
    background: rgb(255, 255, 255);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgb(243, 243, 243) 50%, rgb(237, 237, 237) 51%, rgb(255, 255, 255) 100%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1)
    /* IE6-8 */
}
.menu-rooms {
    background-position: -3px 3px;
}
.menu-gallery {
    background-position: -3px -57px;
}
.menu-weddings {
    background-position: -8px -118px;
}
.menu-promo {
    background: none;
    font-size: 1.4em;
    vertical-align: middle;
    width: 80px;
    height: 50px;
    display: table-cell;
    font-weight: 700;
    font-family: 'Dosis', sans-serif;
}
.content-overview {
    position: relative;
    display: block;
    float: left;
    margin: 20px 0 50px;
    color: #000;
}
.content-overview h2, .content-overview h1 {
    font-size: 2.1em;
    color: #000;
    font-weight: 500;
}
.content-overview p {
    font-weight: 500;
    font-size: 1.2em;
    color: #000;
}
/*List Features*/

.list {
    padding: 0;
}
ul.list-features {
    padding-left: 0;
}
ul.list-features li:before {
    content: "\e067";
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-family: 'Glyphicons Halflings';
    color: #2BB665;
}
ul.list-features li {
    font-size: 1.2em;
    color: #000;
    font-weight: 500;
}
/*Carousel*/

.carousel-nav .carousel-next {
    position: absolute;
    z-index: 200;
    left: 35px;
    top: -40px;
    background-color: #7D1030;
    text-align: center;
    color: #FFF;
    vertical-align: middle;
    padding: 0 7px;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.carousel-nav .carousel-prev {
    padding: 0 7px;
    position: absolute;
    z-index: 200;
    left: 10px;
    top: -40px;
    background-color: #7D1030;
    text-align: center;
    color: #FFF;
    font-size: 1.7em;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    border-radius: 5px;
    line-height: 1.3em;
}
.wrap-single-carousel .carousel-nav .carousel-prev {
    top: auto;
    bottom: -15px;
    left: 52.5%;
}
.wrap-single-carousel .carousel-nav .carousel-next {
    top: auto;
    bottom: -15px;
    left: 49.5%;
}
/*List Quotes*/

.list-quote {
    /*position: relative;*/
    
    display: block;
}
.list-quote:before {
    position: absolute;
    display: block;
    left: 0;
    top: -40px;
    content: '\201C';
    font-size: 120px;
    font-family: sans-serif;
    color: #000;
}
.list-quote:after {
    position: absolute;
    display: block;
    right: 0;
    bottom: -40px;
    content: '\201D';
    font-size: 120px;
    font-family: sans-serif;
    color: #000;
}
.list-quote .thumber {
    position: relative;
    display: block;
    text-align: center;
}
.list-quote .thumber .rhomb-img {
    box-sizing: content-box;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 30px;
    border: none;
    font: normal 100%/normal Arial, Helvetica, sans-serif;
    color: #fff;
    text-indent: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    word-spacing: 11px;
    background: rgba(86, 214, 140, .8);
    -webkit-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    -webkit-transform-origin: 0 100% 0deg;
    overflow: hidden;
    display: inline-block;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .thumber .rhomb-img img {
    text-align: center;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    vertical-align: middle;
    margin-left: -43px;
    margin-top: -16px;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
}
.list-quote .post-review {
    position: relative;
    display: block;
}
.list-quote .post-review p {
    color: #000;
    letter-spacing: 0.05em;
    font-size: 1.2em;
    font-weight: 500;
}
.list-quote .post-review h2 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
}
.list-quote .post-review h3 {
    color: #000;
    font-weight: 500;
    font-size: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
/*Contact*/

.form-horizontal .form-group {
    margin: 5px 0;
}
.form-control {
    border: none;
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
    color: #000;
}
.post-contact {
    position: relative;
    display: block;
}
.post-contact .col-left .form-group label {
    font-family: 'Titillium Web', sans-serif;
}
.post-contact .col-right h3 {
    font-family: 'Titillium Web', sans-serif;
}
.post-contact .col-right p {
    font-family: 'Lato', sans-serif;
}
/*Tables*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: none;
    border-bottom: 1px solid #C3C3C3;
}
table.table tr td {
    color: #000;
    font-size: 1.1em;
    font-weight: 500;
    font-family: 'Dosis', sans-serif;
}
table.rt-responsive-table th {
    background: none;
    color: #000;
}
table.rt-responsive-table tr {
    background: none !important;
}
table.rt-responsive-table td, table.rt-responsive-table th {
    border-color: transparent;
}
/*Maps*/

.section-maps {
    margin-top: -90px;
}
.maps-content {
    min-height: 300px;
    background: #E5E3DF;
}
.additional {
    color: #000;
    position: relative;
    display: block;
}
.additional h2 {
    color: #000;
    font-weight: 500;
}
.additional p {
    color: #000;
    letter-spacing: 0.01em;
    font-weight: 500;
    font-size: 1.2em;
}
.text-gallery {
    position: relative;
    display: inline;
}
.text-gallery p {
    letter-spacing: 0.05em;
    font-size: 1.1em;
}
.block-tiles {
    position: relative;
    display: block;
}
.tile {
    margin-bottom: 10px;
}
.tile a {
    border: solid thick #000;
    display: block;
    position: relative;
    border-color: transparent;
}
.caption-grn {
    background: none repeat scroll 0 0 #2bb665;
    color: #fff;
    left: 98%;
    padding: 10px;
    position: absolute;
    top: 0;
    z-index: 10;
    display: none;
}
.block-tiles .tile:nth-child(odd) .caption-grn {
    left: 98%;
    right: auto;
}
.block-tiles .tile:nth-child(even) .caption-grn {
    left: auto;
    right: 98% !important;
}
.caption-wrapper {
    display: block;
    position: relative;
}
.caption-grn h3 {
    color: #FFF;
    font-weight: 500;
    font-size: 2em;
}
.caption-grn p {
    color: #FFF;
    font-weight: 500;
    font-size: 1.2em;
}
/*Footer*/

#footer {
    position: relative;
    display: block;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    background-color: #FFF;
}
#footer #footer-top {
    background: #750124;
    color: #fff;
}
#footer #footer-top .btn-action{
    background: #CC0228;
    border-color: #CC0228;
}
.homepage #footer #footer-top {
    background: transparent;
    background: #750124;
    color: #fff;
}
#footer #footer-bottom{
    background: #5E0427;
}
footer .footer-content {
    font-size: .9em;
    color: #000;
    width: 100%;
}
footer .footer-content p.copyright {
    color: #000;
    font-weight: 500;
    letter-spacing: 0.1em;
    margin-top: 10px;
    margin-bottom: 5px;
}
#footer .col-footer-content {
    margin: 45px 0;
}
#footer-bottom .navbar {
    background: transparent;
    margin: 0;
}
#footer-bottom .navbar-footer .nav > li {
    margin: 30px 0;
}
#footer-bottom .navbar-footer .nav > li > a {
    border-right: thin solid #fff;
    color: #fff;
    line-height: 13px;
    padding-bottom: 0;
    padding-top: 0;
    font-size: 1em;
}
#footer-bottom .navbar-footer .nav > li > a:hover {
    color: #CE003D !important;
}
#footer-bottom .navbar-footer .social-icon > li > a {
    border: none;
    padding-left: 5px;
    padding-right: 5px;
}
#footer .navbar > .navbar-footer .navbar-nav {
    float: left;
}
#footer .navbar > .navbar-footer .navbar-nav > li:first-child > a {
    padding-left: 0;
}
/*Group Icon*/

.input-group-addon {
    background: #fff;
    border: none;
}
.input-group-addon i {
    color: #929292;
}
.tri-top-bottom {
    position: relative;
}
.tri-top-bottom:after {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 19px 0;
    border-color: transparent #EDEDED transparent transparent;
    line-height: 0px;
    _border-color: #000000 #EDEDED #000000 #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    position: absolute;
    top: 0;
    left: -15px;
    z-index: 2;
}
.tri-top-bottom:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 19px 15px;
    border-color: transparent transparent #EDEDED transparent;
    line-height: 0px;
    _border-color: #000000 #000000 #EDEDED #000000;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    content: "";
    bottom: 0;
    left: -15px;
    position: absolute;
    z-index: 2
}
.wtrans {
    background-color: rgba(255, 255, 255, 0.5);
    display: block;
    position: relative;
    z-index: 9;
}
/*select style*/

.select2-drop-active {
    border: 1px solid #BFBFBF;
}
.select2-results .select2-highlighted {
    background: none;
    color: #7D1030;
}
.select-custom {
    position: relative;
    display: block;
    width: 100%;
}
.select2-container {
    padding: 0;
    margin: 0;
}
.select2-drop {
    color: #bdbdbd;
}
.select2-container .select2-choice {
    border: none;
    background-image: none;
    height: 34px;
    line-height: 34px;
    text-align: left;
}
.select2-container .select2-choice .select2-arrow {
    border-radius: 0;
    background: rgb(219, 220, 226);
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RiZGNlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ4JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iI2RkZGZlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    
    background: linear-gradient(to bottom, rgba(219, 220, 226, 1) 0%, rgba(255, 255, 255, 1) 48%, rgba(221, 223, 227, 1) 98%);
    /* W3C */
    
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#dbdce2', endColorstr='#dddfe3', GradientType=0);
    /* IE6-8 */
    
    border: none;
    width: 34px;
    border-left: solid thin #BFBFBF;
}
.select2-container .select2-choice .select2-arrow b {
    position: relative;
    display: block;
    background: none;
}
.select2-container .select2-choice > .select2-chosen {
    color: #AEAEAE;
}
.select2-container .select2-choice .select2-arrow b:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #8F8F8F transparent transparent transparent;
    line-height: 0px;
    _border-color: #8F8F8F #ffffff #ffffff #ffffff;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#8F8F8F');
    content: "";
    position: absolute;
    top: 15px;
    left: 12px;
}
.select2-drop.select2-drop-above.select2-drop-active {
    border-color: #bdbdbd;
}
/*UI WIDGET*/

.ui-widget {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1em;
}
/* Datepicker */

#ui-datepicker-div {
    z-index: 1100 !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #e6e6e6;
    background-image: none;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border-color: #93002C;
}
.ui-datepicker-header, .ui-widget-header {
    background-color: #750126;
    border: none;
    background-image: none;
    color: #FFF;
}
#ui-datepicker-div .ui-datepicker-month, #ui-datepicker-div .ui-datepicker-year {
    font-family: 'Titillium Web', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
.ui-datepicker-title select {
    color: #000;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    background: #FFF;
    border: none;
    border-radius: 500px;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    height: 1em;
    position: absolute;
    top: 8px;
    width: 1em;
}
.ui-datepicker .ui-datepicker-prev {
    left: 8px;
}
.ui-datepicker .ui-datepicker-next {
    right: 8px;
}
.ui-icon-circle-triangle-e {
    background-position: -32px -16px;
}
.ui-icon-circle-triangle-w {
    background-position: -97px -16px;
}
.ui-datepicker th {
    font-weight: normal;
}
.ui-datepicker.ui-datepicker-multi, .ui-datepicker.ui-datepicker-multi-3 {
    width: 100% !important;
}
#open_datepicker .ui-datepicker td span, #open_datepicker .ui-datepicker td a {
    padding: 10px;
}
#ui-datepicker-div table.ui-datepicker-calendar thead tr th span {
    text-transform: uppercase;
    font-family: 'Titillium Web', sans-serif;
}
/*highlighter calendar selected*/

.ui-datepicker-calendar tbody tr td a:hover, #open_datepicker .ui-datepicker-calendar .dp-highlight .ui-state-default {
    background: #FB0751;
    color: #fff;
}
.ui-datepicker td.available a, .available {
    background: #5DC02F;
    color: #fff;
}
.ui-datepicker td.restricted a, .restricted {
    background: #EBCD17;
    color: #fff;
}
.ui-datepicker td.booked a, .booked {
    background: #F17776;
    color: #fff
}
/*UI TOOLTIP*/

.ui-tooltip {
    padding: 8px;
    position: absolute;
    z-index: 9999;
    min-width: 300px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #878787;
    max-width: none;
}
.qtip .ui-datepicker-header, .ui-widget-header {
    border: 1px solid #878787;
}
.qtip .ui-widget-content p {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
.qtip .ui-widget-content .table, .qtip .ui-widget-content .table thead tr th, .qtip .ui-widget-content .table tbody tr td {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1em;
    line-height: 1em;
}
/*Modal & Panel*/

.modal-dialog p, .step-pane p {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}
/*Form */

.content-static {
    position: relative;
    display: block;
}
.content-static .form-control {
    border: 1px solid #B2B0B3 !important;
}
.content-static input[type='text'], .content-static .select2-container {
    border: 1px solid #B2B0B3 !important;
    height: 36px;
}
.content-static textarea {
    border: 1px solid #B2B0B3 !important;
    resize: none;
}
.mto_ft {
    margin-bottom: 50px;
}
.bg-diff {
    background-color: #7D1030;
}
.t-maroon {
    color: #7D1030;
}
.t-white{
    color: #FFF;
}
.btn-maroon {
    background-color: #7D1030;
    border-color: #7D1030;
    color: #fff;
}
.btn-maroon-light {
    background-color: #D20039;
    border-color: #D20039;
}
.content-static {
    margin-top: 10px;
    position: relative;
    display: block;
    background: url('../img/separator-content.png') repeat-x top left #fff;
    padding: 90px 0;
}
/*List*/

.list {
    position: relative;
    display: block;
    float: left;
}
/*Logo Credit Cards*/

ul.listcc {
    position: relative;
    display: block;
}
ul.listcc li {
    display: inline-block;
}
/*Booking Form*/

.datepicker-key {
    color: #000;
    font-size: 1em;
    margin: 30px 0 0 0;
}
.key-unavailable-icon {
    width: 10px;
    height: 10px;
    float: left;
}
.key-unavailable-text, .key-available-text, .key-selected-text, .key-noarrival-text {
    float: left;
    margin: 0 15px 0 5px;
    font-family: 'Titillium Web', sans-serif;
}
.key-unavailable-icon, .key-available-icon, .key-selected-icon, .key-noarrival-icon {
    width: 15px;
    height: 15px;
    float: left;
    margin: 2px 0 0 0;
}
.key-unavailable-wrapper, .key-available-wrapper, .key-selected-wrapper, .key-noarrival-wrapper {
    float: left;
}
/* Grey Background Elements */

.key-available-icon {
    background: #424242;
}
.key-unavailable-icon {
    background: #262427;
}
.key-selected-icon {
    background: #FB0751;
}
.key-noarrival-icon {
    background: #ADABAE;
}
.booking-side .select-wrapper {
    width: 276px;
}
.booking-side .one-third-form .select-wrapper {
    width: 100%;
}
.booking-side .one-third-form .select-wrapper select {
    width: 135%;
    background-position: 62% center;
}
.dark-notice {
    color: #000;
    padding: 10px 15px;
    margin: 0 0 30px 0;
    text-align: center;
    background: #D80041;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.dark-notice p {
    margin: 0;
}
.calendar-notice {
    display: none;
}
/*Confirmation*/

.creatAccount {
    display: block;
    position: relative;
}
.creatAccount .absolute-frm {
    position: absolute;
    width: 100%;
    display: none;
    top: 0;
    background: #FFFEFF;
    border: solid thin #B2B0B3;
    z-index: 9;
    padding: 5px 0;
    border-radius: 10px;
    left: -10px
}
/*Wrap Col*/

.wrap-col {
    position: relative;
    display: inline-block;
}
.wrap-col h3 {
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.3em;
}
/*Twitter Updates*/

.twitter-update {
    position: relative;
    display: block;
}
.twitter-update h3 {
    font-size: 1.2em;
    font-weight: 400;
}
.twitter-update p {
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: normal;
}
.twitter-update .tw-info {
    font-family: 'Titillium Web', sans-serif;
}
/*Button Settings*/

.btn {
    font-family: 'Titillium Web', sans-serif;
}
/*Gallery */

.ekko-lightbox {
    background-color: rgba(0, 0, 0, 0.9);
    font-family: 'Titillium Web', sans-serif;
}
.ekko-lightbox .modal-title {
    font-family: 'Titillium Web', sans-serif;
}
/*Reservation*/

#uxwizard {
    position: relative;
    display: block;
}
#uxwizard .col-heading {
    position: relative;
    display: block;
    margin: 0;
}
#uxwizard .col-heading h1 {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
}
#uxwizard .wizard {
    border-radius: 0px;
    box-shadow: none;
    background: none;
    border-color: #FFF;
}
#uxwizard .wizard .step-content {
    border: none;
}
.step-content .col-left .col-block {
    display: block;
    position: relative;
    letter-spacing: normal;
}
.step-content .col-left .col-block a[data-toggle="collapse"] {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    display: block;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}
.step-content .col-left .col-block h3 {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
}
.step-content .col-left .col-block ul.list {
    padding: 0 20px;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
}
.step-content .col-left .col-block ul.list li {
    color: #FFF;
}
.step-content .col-left .col-block ul.list li a {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
}
.step-content .col-left .col-block ul.list li .radio {
    margin-bottom: 5px;
}
.step-content .col-left .col-block .gpbx {
    display: block;
    position: relative;
    margin-bottom: 10px;
}
.step-content .col-left .col-block .gpbx h3 {
    margin: 0;
}
.step-content .col-left .col-block .bx-info {
    color: #FFF;
    font-family: 'Titillium Web', sans-serif;
}
.step-content .col-left .col-block .bx-info a {
    color: #fff;
}
.step-content .col-left .col-block .total-rateCL {
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    border-top: 1px solid #fff;
}
.total-rateCL .price-txttotal {
    position: relative;
    display: block;
}
.total-rateCL .price-txttotal h5 {
    font-family: 'Titillium Web', sans-serif;
    color: #FFF;
    font-weight: 600;
    font-weight: 1.3em;
}
.total-rateCL .price-txttotal .info-ext {
    display: block;
    width: 100%;
}
.total-rateCL .price-txttotal .more-detail {
    position: relative;
    width: 100%;
    display: block;
}
.price-txttotal .more-detail a {
    color: #FFF;
}
.total-rateCL .price-total {
    position: absolute;
    right: 0;
}
.total-rateCL .price-total .price {
    font-size: 1.3em;
}
.step-content .col-right .action a.modify {
    text-align: right;
    color: #7A0027;
    font-family: 'Titillium Web', sans-serif;
    text-decoration: underline;
    float: right;
}
.step-content .col-right .headingBBx {
    background: #232323;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.step-content .col-right .headingBBx h2 {
    color: #FFF;
    padding: 5px;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
}
.step-content .headingLt {
    background: #232323;
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
}
.group-inline .half-inline:first-child .headingBBx {
    border-radius: 5px 0px 0px 5px;
}
.group-inline .half-inline:last-child .headingBBx {
    border-radius: 0px 5px 5px 0px;
}
.step-content .headingLt h2 {
    color: #FFF;
    padding: 5px;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
}
.col-right .productlist {
    position: relative;
    display: block;
}
.col-right .productlist .HeaderInfo {
    font-family: 'Titillium Web', sans-serif;
}
.HeaderDesc .room-descLt {
    color: #000;
}
.HeaderInfo .Policies {
    margin-bottom: 10px;
}
.HeaderInfo .Policies a {
    color: #000;
}
.list-roomDTL {
    position: relative;
    display: block;
    font-family: 'Titillium Web', sans-serif;
}
.list-roomDTL ul.list {
    width: 100%;
}
.list-roomDTL ul.list .listed-room {
    width: 100%;
    display: block;
    position: relative;
    float: left;
    border-bottom: 1px solid #979797;
    padding: 20px 0;
}
.listed-room .roomlistDescLt {
    position: relative;
    display: block;
    font-family: 'Titillium Web', sans-serif;
    color: #000;
}
.roomlistDescLt .roomname {
    color: #000;
}
.roomlistDescLt .roomname h4 {
    font-size: 1em;
    color: #000;
    margin: 0;
    margin-bottom: 10px;
}
.roomlistDescLt .facilitiesLT {
    display: block;
    float: left;
    width: 100%;
}
.roomlistDescLt .facilitiesLT a.roomdescDTL {
    display: block;
    position: relative;
    color: #434a54;
}
.facilitiesLT .priceListRoom {
    float: left;
    width: 100%;
    display: block;
    position: relative;
}
.facilitiesLT .priceListRoom .price {
    float: left;
    width: 100%;
    font-size: 1.2em;
    font-weight: 400;
}
.facilitiesLT .priceListRoom .taxLT {
    float: left;
    width: 100%;
}
.facilitiesLT .priceListRoom .more-detail {
    float: left;
    width: 100%;
    color: #434a54;
}
.roomlistDescLt .btn-abs {
    position: relative;
    display: block;
    text-align: right;
    float: right;
}
.roomlistDescLt .btn-abs a {
    color: #FFF;
}
.list-roomDTL ul.list .thumbroom {
    padding: 0;
}
.productlist .TxtTitle {
    font-size: 0.9em;
    font-family: 'Titillium Web', sans-serif;
}
.productlist .HeaderInfoContainer {
    border-bottom: 1px solid #979797;
    float: left;
    padding-bottom: 20px;
    width: 100%;
}
.step-content .col-left .book-desc {
    position: relative;
    display: block;
}
.step-content .col-left .book-desc span.text {
    float: left;
    line-height: 1.3em;
}
.step-content .price-range {
    display: block;
    position: relative;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 10px;
}
.step-content .price-range .range-slider {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
#slider-range .ui-slider-range {
    background: #D00039 !important;
}
.step-content .price-range .range-slider input#amount {
    background: transparent;
    border: none !important;
    width: 100%;
    text-align: center;
}
.step-content .col-left .book-desc a.btn {
    float: right;
}
.arrival-departure {
    position: relative;
    display: block;
    margin-bottom: 10px;
}
.arrival-departure .arrival-wrapper, .arrival-departure .departure-wrapper {
    border-radius: 5px;
    border: 1px solid #fff;
    background: transparent;
    font-family: 'Titillium Web', sans-serif;
}
.arrival-departure .top-cal {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.arrival-departure .top-cal .prev-in {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.arrival-departure .top-cal .next-in {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}
.arrival-departure .top-cal .prev-in {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}
.arrival-departure .mid-cal {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
}
.arrival-departure .mid-cal .day {
    font-size: 4em;
    text-align: center;
}
/*Package List*/

.packageList {
    position: relative;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.packageList .titlePckg {
    float: left;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #878787;
}
.packageList .titlePckg .price-tag {
    font-family: 'Titillium Web', sans-serif;
}
.packageList .collapse {
    padding: 0;
}
.packageList p.pckgtext {
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}
.packageList .list-chckbox {
    padding-left: 15px;
}
.packageList .titlePckg .price-tag .price {
    color: #000;
    font-size: 1.3em;
    font-weight: 600;
}
.packageList .titlePckg a[data-toggle="collapse"] {
    font-weight: 600;
    color: #000;
}
/*Checkout */

.checkout-process {
    position: relative;
    display: block;
}
.checkout-process .col-right {
    font-family: 'Titillium Web', sans-serif;
    letter-spacing: normal;
}
.checkout-process .confirm-bx p {
    font-family: 'Titillium Web', sans-serif;
}
#uxwizard .wizard > .steps li:first-child {
    border-radius: 0;
    padding-left: 20px;
}
#uxwizard .currency-selector {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
}
#uxwizard .wizard > .steps {
    width: auto;
    position: relative;
    display: block;
    float: left;
    margin: 0 !important;
}
#uxwizard .wizard > .steps li {
    background: none;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    padding: 0;
    color: #000;
}
#uxwizard .wizard > .steps li.active {
    color: #7D1030;
}
#uxwizard .wizard > .steps li span {
    color: #000;
}
#uxwizard .wizard > .actions {
    position: relative;
    display: block;
}
#uxwizard .bg-diff {
    color: #FFF;
}
/*Progress Bar */

.progress-holder {
    float: left;
    width: 100%;
    position: relative;
    display: block;
}
.progress {
    position: relative;
}
.progress.progress-mini {
    height: 9px;
}
.progress .progress-bar-maroon {
    background: #A0302E;
}
/*Box Styling */

.box-rd {
    border-radius: 5px;
}
.t-gray {
    color: #434a54;
}
/*--------------------------------------------------------
MEDIA QUERIES
--------------------------------------------------------*/
/* Larger Screens Devices
-------------------------------------------------- */
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 980px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 768px) {
    .navbar-toggle {
        float: left;
    }
    #floatbox {
        display: block;
    }
}
/* Medium Devices
-------------------------------------------------- */

@media (min-width: 992px) and (max-width: 1199px) {} @media (max-width: 979px) {
    #product-list {
        padding: 30px 0;
    }
    .grid .img-product .caption {
        padding: 10px;
    }
    .grid .img-product .caption h1 {
        color: #FFF;
        text-transform: uppercase;
        font-size: 1.4em;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .grid .img-product .caption p {
        color: #FFF;
        font-size: 1.2em;
        font-size: 1.2em;
        line-height: 1.1em;
    }
    /*Caption List */
    
    .caption-block h1 {
        font-size: 1.4em;
    }
    .caption-block p {
        font-size: 1.2em;
    }
    .caption-block a {
        bottom: -1px;
        background: #93002C;
    }
}
/* Small Devices (tablets)
-------------------------------------------------- */
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    .navbar-nav > li > a {
        font-size: 1em;
    }
    #header .nav > li > a {
        padding: 35px 5px;
        text-transform: uppercase;
    }
    .navbar-nav > li.logo-header {
        width: 150px;
    }
    #header .navbar-nav > li.logo-header a.navbar-brand {
        margin: 20px 0;
        padding: 0;
    }
    /*m-reservation*/
    
    #m-reservation {
        background: #7D1030;
        padding: 10px 0;
        float: left;
        display: block;
        width: 100%;
        height: auto;
        position: relative;
    }
    /*slider*/
    
    .flexslider .caption h1 {
        font-size: 2em;
    }
    /*Form Horizontal*/
    
    .form-horizontal .form-group {
        margin-bottom: 10px;
    }
    #floatbox {
        display: block;
    }
    #floatbox .bookyoustay .form-col.open {
        width: 100%;
    }
    /*Reservation*/
    .step-content .col-right .action a.modify {
        display: block;
        width: 100%;
        margin: 20px 0 10px;
        text-align: center;
    }
    .booking-main .action{
        text-align: center;
    }
    /*end of Reservation*/
}
/* Extra small devices(phones)
-------------------------------------------------- */

@media (max-width: 767px) {
    /*Header*/
    
    .navbar-toggle {
        float: left;
    }
    #header .navbar {
        min-height: 90px;
    }
    #langs {
        top: 5px;
    }
    .navbar-nav > li > a:hover {
        color: #FFF !important;
    }
    #header .navbar-nav > li.logo-header a.navbar-brand {
        width: 100%;
        text-align: center;
    }
    #header .navbar-header {
        min-height: 90px;
    }
    .navbar-default .navbar-toggle {
        z-index: 9;
    }
    #m-logo {
        float: none;
        margin: 0;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
    }
    #m-logo .logo-header {
        float: none;
        margin: 0 auto;
        list-style: none;
        display: inline-block;
    }
    /*caption rounded*/
    
    #product-list {
        padding: 20px 0;
    }
    .grid .img-product .caption {
        padding: 10px;
    }
    /*FloatBox*/
    
    #floatbox {
        /*display: none;*/
        
        display: block;
    }
    /*m-reservation*/
    
    #slider-homepage .slider .left-wtrans, #slider-homepage .slider .right-wtrans {
        background: none;
    }
    #m-reservation {
        background: #7D1030;
        padding: 0 0 10px;
        float: left;
        display: block;
    }
    #m-reservation .bottom-info {
        margin-top: 0px;
        font-size: 1.2em;
        height: auto;
        background: rgba(0, 0, 0, .2);
        color: #FFF;
    }
    #m-reservation .bottom-info p {
        border: none;
        line-height: 1.4em;
        color: #FFF;
    }
    #m-reservation .t-maroon {
        color: #CE003D !important;
    }
    /*Reservation*/
    
    #uxwizard .currency-selector {
        position: relative;
    }
    .step-content .col-right .action a.modify {
        display: block;
        width: 100%;
        margin: 20px 0 10px;
        text-align: center;
    }
    .booking-main .action{
        text-align: center;
    }
    .arrival-departure{
        margin: 0;
    }
    .arrival-departure .col-left, .arrival-departure .col-right{
        padding: 0;
        margin: 0 0 10px;
    }
    .HeaderInfoContainer .col-priceroom{
        padding: 0;
    }
    .listed-room .roomlistDescLt{
        padding: 0;
        margin: 10px 0;
    }
    .group-inline .half-inline .headingBBx{
        border-radius: 5px !important;
    }
    ul.listcc{
        display: block;
        float: left;
        margin: 10px 0;
        padding: 0;
        text-align: left;
        width: 100%;
    }
    .action-confirm{
        padding: 0;
        text-align: center;
    }
    .action-confirm .btn{
        margin: 10px 0;
    }
    /*end of Reservation*/
}
@media (max-width: 640px) {
    /*Header Navbar*/
    
    #header .navbar-collapse {
        padding: 0;
    }
    .content-wrapper #header .navbar .navbar-nav {
        display: inline-block;
        float: left;
        margin: 0;
        width: 100%;
    }
    .content-wrapper .navbar-default .navbar-nav > .active > a {
        background: #AD0034;
        color: #FFF;
    }
    #footer .col-footer-content {
        margin: 10px 0;
    }
    .wrap-col {
        position: relative;
        display: block;
    }
    .wrap-col h3 {
        margin: 10px 0;
        text-align: center;
    }
    .wrap-col p{
        text-align: left;
    }
    .wrap-col .form-control {
        border: 1px solid #B2B0B3;
    }
    #footer .navbar > .navbar-footer .navbar-nav {
        float: none;
    }
    #footer-bottom .navbar-footer .social-icon > li > a {
        font-size: 1.6em;
    }
    #footer-bottom .navbar-footer .nav > li {
        margin: 10px 0;
    }
    /*Reservation*/
    
    #uxwizard .wizard > .steps li:first-child {
        padding: 0;
    }
    #uxwizard .wizard > .steps {
        padding: 0 10px;
    }
    .dates-twin .col-left, .dates-twin .col-right, .dates-twin .col-right .col-block {
        padding: 0;
    }
    .key-unavailable-wrapper, .key-available-wrapper, .key-selected-wrapper, .key-noarrival-wrapper {
        margin-bottom: 10px;
    }
    .step-content .col-right .action a.modify {
        display: block;
        width: 100%;
        margin: 20px 0 10px;
        text-align: center;
    }
    .booking-main .action{
        text-align: center;
    }
    /*end of reservation*/
}
@media (max-width: 480px) and (orientation: landscape) {} @media only screen and (min-width: 360px) and (max-width: 640px) {
    #header .navbar-default .navbar-nav > li {
        width: 100%;
        display: block;
    }
    #header .navbar-default .navbar-nav > li > a {
        padding: 10px 0;
        width: 100%;
    }
}
/* Landscape phones and smaller */

@media (max-width: 480px) {
    #header .navbar-default .navbar-nav > li {
        width: 100%;
        display: block;
    }
    .content-wrapper .navbar .navbar-nav {} #header .navbar-default .navbar-nav > li > a {
        padding: 10px 0;
        width: 100%;
    }
    #langs {
        right: 5px;
        top: 5px;
    }
    .wrap-col{
        text-align: center;
    }
    .wrap-col h3 {
        margin: 10px 0;
        text-align: center;
    }
    .wrap-col p{
        text-align: center;
    }
}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
/* fix for small android devices */

@media (max-width: 240px) {}
/* Smallest browser width fix
-------------------------------------------------- */

@media (min-width: 0px) and (max-width: 351px) {}@media (min-width: 0px) and (max-width: 300px) {
    body {
        min-width: 280px;
    }
}
/* High Resolution Devices 
-------------------------------------------------- */

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Logo */
}
.btn-grn {
    background: #2BB665;
    color: #fff;
    font-family:'Dosis', sans-serif;
    border: none;
    padding: 6px 25px;
}
.bg-grn {
    background: #2BB665;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    border: none;
}
/*>  HELPER  <*/

.m_t_0 {
    margin-top: 0
}
.m_r_0 {
    margin-right: 0
}
.m_b_0 {
    margin-bottom: 0
}
.m_l_0 {
    margin-left: 0
}
.m_t_5 {
    margin-top: 5px
}
.m_r_5 {
    margin-right: 5px
}
.m_b_5 {
    margin-bottom: 5px
}
.m_l_5 {
    margin-left: 5px
}
.m_t_10 {
    margin-top: 10px
}
.m_r_10 {
    margin-right: 10px
}
.m_b_10 {
    margin-bottom: 10px
}
.m_l_10 {
    margin-left: 10px
}
.m_t_15 {
    margin-top: 15px
}
.m_r_15 {
    margin-right: 15px
}
.m_b_15 {
    margin-bottom: 15px
}
.m_l_15 {
    margin-left: 15px
}
.m_t_20 {
    margin-top: 20px
}
.m_r_20 {
    margin-right: 20px
}
.m_b_20 {
    margin-bottom: 20px
}
.m_l_20 {
    margin-left: 20px
}
.p_t_5 {
    padding-top: 5px
}
.p_r_5 {
    padding-right: 5px
}
.p_b_5 {
    padding-bottom: 5px
}
.p_l_5 {
    padding-left: 5px
}
.p_t_10 {
    padding-top: 10px
}
.p_r_10 {
    padding-right: 10px
}
.p_b_10 {
    padding-bottom: 10px
}
.p_l_10 {
    padding-left: 10px
}
.p_t_15 {
    padding-top: 15px
}
.p_r_15 {
    padding-right: 15px
}
.p_b_15 {
    padding-bottom: 15px
}
.p_l_15 {
    padding-left: 15px
}
.p_t_20 {
    padding-top: 20px
}
.p_r_20 {
    padding-right: 20px
}
.p_b_20 {
    padding-bottom: 20px
}
.p_l_20 {
    padding-left: 20px
}
.p_rl_5 {
    padding-right: 5px;
    padding-left: 5px
}
.p_rl_10 {
    padding-right: 10px;
    padding-left: 10px
}
.p_rl_15 {
    padding-right: 15px;
    padding-left: 15px
}
.p_rl_20 {
    padding-right: 20px;
    padding-left: 20px
}
.m_rl_-5 {
    margin-right: -5px;
    margin-left: -5px
}
.m_rl_5 {
    margin-right: 5px;
    margin-left: 5px
}
.m_rl_10 {
    margin-right: 10px;
    margin-left: 10px
}
.m_rl_15 {
    margin-right: 15px;
    margin-left: 15px
}
.m_rl_20 {
    margin-right: 20px;
    margin-left: 20px
}
.p_tb_5 {
    padding-top: 5px;
    padding-bottom: 5px
}
.p_tb_10 {
    padding-top: 10px;
    padding-bottom: 10px
}
.p_tb_15 {
    padding-top: 15px;
    padding-bottom: 15px
}
.p_tb_20 {
    padding-top: 20px;
    padding-bottom: 20px
}
.m_tb_5 {
    margin-top: 5px;
    margin-bottom: 5px
}
.m_tb_10 {
    margin-top: 10px;
    margin-bottom: 10px
}
.m_tb_15 {
    margin-top: 15px;
    margin-bottom: 15px
}
.m_tb_20 {
    margin-top: 20px;
    margin-bottom: 20px
}
.p_0 {
    padding: 0
}
.p_5 {
    padding: 5px
}
.p_10 {
    padding: 10px
}
.p_15 {
    padding: 15px
}
.p_20 {
    padding: 20px
}
.p_25 {
    padding: 25px
}
.p_30 {
    padding: 30px
}
